version: "~> 1.0"
git:
  depth: 1
  quiet: true
language: java
jdk:
- openjdk11
branches:
  only:
  - develop
  - support/.*
  - master
cache:
  directories:
  - "$HOME/.m2"
notifications:
  irc:
    channels:
    - chat.freenode.net#craftercms
    use_notice: true
    skip_join: true
  slack: craftersoftware:7YiSb41ZG5rfMgiAY7Qgprc7
script:
- if [[ "$TRAVIS_PULL_REQUEST" == "false" ]]; then bash -c  "mvn deploy --settings
  .travis-settings.xml";  fi
- if [[ "$TRAVIS_PULL_REQUEST" != "false" ]]; then bash -c "mvn clean install" ;fi
env:
  global:
  - secure: ofXfJhGR+pUUWXjLZtnihOwyNvZeaao92Lh7gshcyLQb/3Liekw0FonQvI9f11FUA/EnkEJLAd4jvPTXd//cAEWFdHQhovyTVsMMeGYF2ybHZarCEJDqEzv4Ak4p8H/y/39+ZeO5ySa9IP2Oecq0gJt+NEA04Vc93LUwmQ8fyW8=
  - secure: DzEK3E6xef+wfoSYFyChCRvLed4ebG2S0fez61YZPEfYFWiWtRxjZhHCTgcExcPSjs8dIidUpheFKad164nrdf50meg8YOwes71ZQ9bGJP+GEV2N55oXSjMKKVjoYbSFQm/tB/M7vEcfdbriUWHEGxqDOpFhuuktfb/e8aTps2E=
