<script id="ugcListTmpl" type="text/x-jquery-tmpl">
<div class="ugc-list yui3-cssbase">
	{{each UGCList tmpl="ugcTmpl"}}
</div>
<div class="yui3-cssbase actions">
	<div class="line">
		<div class="unit size1of1">
			<a>Add Comment</a>
		</div>
	</div>
</div>
</script>

<script id="ugcTmpl" type="text/x-jquery-tmpl">
<div class="ugc line" id="ugc_{{=id}}" ugc-id="{{=id}}" user-id="{{=userObjectId}}">
	<div class="unit size1of24 avatar">
		<img src="http://social.demo.craftercms.org/resources/imgs/avatar-50x50.png">
	</div>
	<div class="unit size23of24 lastUnit">
		<div class="user-ugc">
			<div class="header">
				<h4 data-getfrom="$ctx.anonymousIfNull([userFullName])"></h4>
			</div>
			<div class="body">
				<p data-getfrom="[body]"></p>
			</div>
			<div class="footer line">
	      		<div class="unit size1of2 date">
					<span data-getfrom="$ctx.formattedDate([dateAdded])"/>
					<span class="date-txt" data-getfrom="[ellapsedTime]"/>
				</div>
	      		<div class="unitExt size1of2 actions">
	        		<a class="reply unitExt">Reply</a>
					<a class="flag unitExt thumbs-sprites thumbs-down" data-getfrom="[offenceCount]"></a>
					<a class="like unitExt thumbs-sprites thumbs-up" data-getfrom="[likeCount]"></a>
	      		</div>
	    	</div>
		</div>
		{{each children tmpl="ugcTmpl"}}
	</div>
</div>
</script>

<script id="addTextUGCTmpl" type="text/x-jquery-tmpl">
<div class="line add-ugc">
	<div class="unit size1of1 ugc-width-temp">
		<textarea></textarea>
	</div>
	<div class="unit size1of1 actions">
		<a class="unit add-btn">Accept</a>
		<a class="unit cancel-btn">Cancel</a>
	</div>
</div>
</script>
