span.hintField {
	clear: both;
    color: #4F6B72;
    display: block;
    font: 10px "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
    margin: 2px 0 12px 310px;
    width: 940px;
}

body {
	background: none repeat scroll 0 0 #F1F1F1;
	/*font-family: Calibri, Arial;*/
	font-family: 'museo_500regular',Arial,"Helvetica Neue",Helvetica,sans-serif;
	margin: 0px;
	padding: 0px;
}

/********NEW TABLE*****/
#mytable {
    width: 900px;
    padding: 0px;
    margin: 0 0px 10 15;
}

caption {
    padding: 0 0 5px 0;
    width: 700px;    
    font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    text-align: right;
}

th {
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    padding: 6px 6px 6px 12px;
    background: #F1F1F1 no-repeat;
}

th.nobg {
    border-top: 0;
    border-left: 0;
    border-right: 1px solid #C1DAD7;
    background: none;
}

td {
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    font-size: 13px;
    background: #fff;
    padding: 6px 6px 6px 12px;
    color: #4f6b72;
    text-align: center;
}


td.alt {
    background: #F5FAFA;
    color: #797268;
}

th.spec {
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background: #fff url(images/bullet1.gif) no-repeat;
    font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

th.specalt {
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background: #f5fafa url(images/bullet2.gif) no-repeat;
    font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #797268;
}

/***************END NEW TABLE********/

input[type=text],input[type=password],input.text,input.title,textarea,select
	{
	background-color: #fff;
	border: 1px solid #bbb;
}

input[type=text]:focus,input[type=password]:focus,input.text:focus,input.title:focus,textarea:focus,select:focus
	{
	border-color: #666;
}

/* input[type=text],input[type=password],input.text,input.title,textarea,select
	{
	margin: 0.5em 0;
} */



#header h2 {
	color: white;
	background-color: #3275A8;
	height: 50px;
	padding: 5px 0 0 5px;
	font-size: 20px;
}

ul.error-msg {
	color: red;
	padding: 0px 0px 0px 320px;
	margin: 0px 0px 0px 0px;
}

h1.company-title {
	font-size: 1.8em;
	margin: 1em 0;
}

#header h1 {
	color: #ED6710;
	background-color: #FFFFFF;
	font-size: 20px;
	padding: 0 15px;
}

#heading {
	float: left;
	width: 350px;
}

#header a.logo {
	background: url("../image/logo.png?img_id=10290&amp;t=1349974701037")
		no-repeat scroll 0 0 transparent;
	display: block;
	font-size: 0;
	height: 170px;
	position: relative;
	text-indent: -9999em;
	width: 300px;
	top: 20px;
}

.toolbar {
	margin-bottom: 5px;
	border: 1px solid #eee;
	border-collapse: collapse;
	width: 930px;
	max-width: 100%;
	font-family: Calibri
}

.toolbar th.rigth {
	width: 30px;
	float: right;
}

.toolbar th {
	width: 20px;
}

.datatable {
	margin-bottom: 5px;
	border: 1px solid #eee;
	border-collapse: collapse;
	width: 930px;
	max-width: 100%;
	font-family: Calibri
}

#datatable th.special {
	padding: 3px;
	border: 1px solid #FFFFFF;
	height: 30px;
	background-color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	color: #444444
}

.datatable th {
	padding: 3px;
	border: 1px solid #000000;
	height: 30px;
	background-color: #ED6710;
	text-align: center;
	vertical-align: middle;
	color: #000000
}

.datatable tr {
	border: 1px solid #ED6710
}

.datatable tr.odd {
	background-color: #ED6710
}

.datatable tbody {
	border: 1px solid #ED6710
}

.datatable td {
	padding: 2px;
	border: 1px solid #000000;
	text-align: center;
}

.footer {
	margin: 0 auto;
	padding: 0 15px;
	position: relative;
	width: 940px;
	font: 14px "Adobe Garamond", Georgia, sans-serif;
	min-height: 40px;
}

#content {
	background: none repeat scroll 0 0 #FFFFFF;
	min-height: 600px;
	margin: 0 auto;
	padding: 0 15px;
	position: relative;
	width: 940px;
}

#banner,#content,#footer .inner,#footer .copy-right,#topLinks .links-tab,#breadcrumbs
	{
	background: none repeat scroll 0 0 #FFFFFF;
	margin: 0 auto;
	padding: 0 15px;
	position: relative;
	width: 940px;
}

a:link {
	color: #4F6B72;
	font-size: 13px;
	text-decoration: none;
}

a:active {
	color: #0000ff;
}

a:hover {
	color: #000000;
	text-decoration: none;
}

label {
	width: 300px;
	float: left;
	text-align: right;
	margin: 0 10px 10px 0;
	clear: both;
}

fieldset {
	width: 920px;
	padding: 5px;
	margin-bottom: 0px;
}

legend {
	font-weight: bold;
	color: #ED6710;
}

.logout-success {
	color: #093;
	text-align: center;
}

.login-error {
	color: #F00;
	text-align: center;
}

.box {
	border: 1px solid #dcdcdd;
	background: #fff url('../image/box-bg.png') 0 bottom repeat-x;
	border-radius: 4px;
	min-height: 420px;
}

.box.pad,
.box .pad {
	padding: 10px;
}

.box.auto {
	min-height: 0;
}

.mt40 {
	margin-top: 40px;
}

button.btn,input[type="submit"].btn {
	*padding-top: 3px;
	*padding-bottom: 3px
}

.btn-info {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #49afcd;
	*background-color: #2f96b4;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de),
		to(#2f96b4) );
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff5bc0de',
		endColorstr='#ff2f96b4', GradientType=0 );
	filter: progid:dximagetransform.microsoft.gradient(enabled=false )
}

.btn {
	display: inline-block;
	*display: inline;
	padding: 4px 14px;
	margin-bottom: 0;
	*margin-left: .3em;
	font-size: 14px;
	line-height: 20px;
	*line-height: 20px;
	color: #333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	*background-color: #e6e6e6;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff),
		to(#e6e6e6) );
	background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
	background-image: -o-linear-gradient(top, #fff, #e6e6e6);
	background-image: linear-gradient(to bottom, #fff, #e6e6e6);
	background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #bbb;
	*border: 0;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-bottom-color: #a2a2a2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff',
		endColorstr='#ffe6e6e6', GradientType=0 );
	filter: progid:dximagetransform.microsoft.gradient(enabled=false );
	*zoom: 1;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05)
}

.clearfix:after {
    clear: both;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    line-height: 0;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    line-height: 0;
}
.main-nav {
    margin: 0 0 0 15px;
}
.clearfix {
}
nav ul {
    list-style: none outside none;
}
ul, ol {
    margin: 0 0 10px 25px;
    padding: 0;
}

nav li  a:hover {
	color: #005580;
	text-decoration: underline
}
nav li {
    float: left;
    font-family: 'museo_500regular',Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 13px;
    border-radius: 6px 6px 6px 6px;
    padding: 3px 5px 0;
    position: relative;
    margin-right: 15px;
}

.page-actions {
    font-size: 80%;
    list-style: none outside none;
    position: absolute;
    right: 28px;
    top: 7px;
}
ul, ol {
    margin: 0 0 10px 25px;
    padding: 0;
}

.page-actions > li {
    float: left;
    padding: 0 9px;
}
li {
    line-height: 20px;
}

nav .page-actions {
    font-size: 80%;
    list-style: none outside none;
    position: absolute;
    right: 28px;
}

.top, header .bottom, .home .content {
}
.top, header .bottom {
    min-height: 34px;
    position: relative;
}
.top > .pad, header .bottom > .pad, .home .content > .pad, footer > .pad {
    margin: 0 auto;
    width: 926px;
}
header .top, header .bottom, .home .content {
}

header .top, header .bottom {
    min-height: 34px;
    position: relative;
}

.field {
    clear: both;
    margin-bottom: 5px;
    margin-left: 310px;
    margin-right: 310px;
}